:root {
  --primary-color: rgb(70, 103, 140);
  --secondary-color: rgb(32, 50, 73);
  --background-color: rgb(52, 79, 108);
  --text-color: aliceblue;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100dvh;
  overflow: hidden;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--text-color);
  background-color: var(--background-color);
  margin: auto;
}

.cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5dvw;
}

.card {
  background-color: var(--secondary-color);
  border-radius: 12px;
  padding: 15px 15px;
  box-shadow: 0px 0px 20px rgba(70, 103, 140, 0.8);
  border: 5px solid var(--primary-color);
  text-align: center;
}

.card-content {
  list-style: none;
  cursor: pointer;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3dvw;
  margin: 0;
}

.card-content li {
  position: relative;
  padding: 3px;
  border: 2px solid black;
  margin-top: 10px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12dvw;
  height: 12dvw;
  margin: 0;
}

.card-content li:hover {
  background-color: var(--primary-color);
  transition: 0.5s ease;
  border: 2px solid var(--primary-color);
  box-shadow: 0px 0px 10px rgba(70, 103, 140, 0.8);
}

.brightness-slider {
  -webkit-appearance: none;
  width: 80dvw;
  height: 8px;
  background: #ddd;
  border-radius: 5px;
  outline: none;
}

.brightness-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background: var(--primary-color, #ffcc00);
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.card-icon {
  width: 8dvw;
  height: 8dvw;
}

.edit-btn {
  display: none;
  position: absolute;
  top: -1dvh;
  right: -1dvh;
  border: none;
  color: var(--text-color);
  background-color: var(--primary-color);
  border-radius: 50%;
  width: 7dvw;
  height: 7dvw;
}

.editable .edit-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.edit-btn-icon {
  height: 4dvw;
}
