.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
  background-color: rgb(52, 79, 108);
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: aliceblue;
}
