:root {
  --primary-color: rgb(70, 103, 140);
  --secondary-color: rgb(32, 50, 73);
  --background-color: rgb(52, 79, 108);
  --text-color: aliceblue;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100dvh;
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

button {
  cursor: pointer;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  max-width: 480px;
  height: 100dvh;
  max-height: 100dvh;
  padding: 20px;
  box-sizing: border-box;
  background-color: var(--background-color);
  transition: all 0.3s ease;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: var(--text-color);
  background-color: var(--background-color);
}

.cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.menu,
.card {
  background-color: var(--secondary-color);
  border-radius: 12px;
  padding: 15px 15px;
  box-shadow: 0px 0px 20px rgba(70, 103, 140, 0.8);
  border: 5px solid var(--primary-color);
  text-align: center;
}

.card-content {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  margin: 0;
}

.card-content li {
  cursor: pointer;
  position: relative;
  margin-top: 10px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  margin: 0;
}

.not-selected {
  border: 2px solid black;
  padding: 3px;
  transition: 0.3s ease;
}

.selected {
  background-color: var(--primary-color);
  border: 5px solid var(--primary-color);
  transition: 0.3s ease;
  padding: 0px;
  box-shadow: 0px 0px 10px rgba(70, 103, 140, 0.8);
}

.brightness-slider {
  -webkit-appearance: none;
  width: 95%;
  height: 8px;
  background: var(--text-color);
  border-radius: 5px;
  outline: none;
  border-radius: 100px;
  border: 15px solid var(--secondary-color);
  box-shadow: 0px 0px 20px rgb(32, 50, 73);
}

.brightness-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background: var(--primary-color, #ffcc00);
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.card-icon {
  width: 70%;
  height: 8dvw;
}

.edit-btn {
  display: none;
  position: absolute;
  top: -5px;
  right: -5px;
  border: none;
  color: var(--text-color);
  background-color: var(--primary-color);
  border-radius: 50%;
  width: 28px;
  height: 28px;
  cursor: pointer;
}

.editable .edit-btn,
.routine {
  display: flex;
  align-items: center;
  justify-content: center;
}

.edit-btn-icon {
  height: 4dvw;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background: var(--background-color);
  padding: 25px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-actions {
  margin-top: 20px;
  display: flex;
  gap: 40px;
}

.modal-actions button {
  cursor: pointer;
  font-size: 1rem;
  color: var(--text-color);
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
}

.cancel-btn {
  background-color: #be0009;
}

.submit-btn {
  background-color: #0077be;
}

.custom-picker {
  width: 100%;
  max-width: 400px;
  margin: auto;
}

.color-type {
  display: inline-flex;
  background-color: #0077be;
  padding: 0px;
  margin-bottom: 20px;
  border-radius: 50px;
  background-color: var(--secondary-color);
  padding: 6px;
  gap: 1dvw;
}

.colors-btn,
.whites-btn {
  padding: 10px;
  border: none;
  border-radius: 50px;
  background-color: var(--secondary-color);
  color: var(--text-color);
  font-size: 1rem;
  transition: 0.3s ease;
  font-weight: bold;
}

.modal-overlay {
  opacity: 1;
  transition: opacity 0.3s ease;
  backdrop-filter: blur(5px);
}

.modal-content {
  transform: scale(1);
  transition: transform 0.3s ease;
}

.modal-overlay.closing {
  opacity: 0;
}

.modal-overlay.closing .modal-content {
  transform: scale(0.9);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modal-overlay {
  animation: fadeIn 0.3s ease;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

p,
h2 {
  margin: 0;
}

.menu h2 {
  margin-bottom: 0.3dvh;
}

.menu p {
  margin-bottom: 3dvh;
  color: rgba(240, 248, 255, 0.291);
}

.routine {
  position: unset;
}

.rotuine-list {
  list-style: none;
  padding: 0 10px;
}

.rotuine-list li {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0;
}

.routine-btn {
  cursor: pointer;
  border: 2px solid black;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  padding: 8px 15px;
  border-radius: 5px;
  width: 7dvw;
  background-color: var(--primary-color);
}

.routine-time {
  font-size: 1.2rem;
  font-weight: 600;
}

.kelvin-color-picker {
  font-feature-settings: "tnum";
}

.kelvin-color-picker h2 {
  margin-bottom: 20px;
}

.kelvin-slider {
  -webkit-appearance: none;
  width: 100%;
  height: 12px;
  border-radius: 6px;
  background: linear-gradient(
    to right,
    #ff8912 /* 2000K */,
    #ffcc71 /* 3000K */,
    #ffffff /* 4500K */,
    #d1e4ff /* 6000K */,
    #9bc4ff /* 7000K */
  );
}

.kelvin-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  background: white;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
.rli,
.timer-display {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: var(--secondary-color);
  box-shadow: 0px 0px 20px var(--secondary-color);
  border-radius: 15px;
}

.rli {
  padding: 20px;
}

.invalid {
  border: 3px solid red;
  padding: 17px;
  box-shadow: 0 0 15px rgba(255, 0, 0, 0.71);
}

.disabled {
  background-color: grey;
  opacity: 0.5;
  pointer-events: none;
}

.timer-display input {
  text-align: center;
  background-color: transparent;
  border: none;
  width: 2.5ch;
  color: var(--text-color);
  font-size: 2rem;
}

.timer-display span {
  font-size: 2rem;
}
input {
  padding: 0;
}

@media (min-width: 600px) {
  .app {
    height: 90dvh;
    max-height: 850px;
    border-radius: 40px;
    border: 8px solid var(--secondary-color);
    box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.5);
  }
}
