:root {
  --primary-color: rgb(70, 103, 140);
  --secondary-color: rgb(32, 50, 73);
  --background-color: rgb(52, 79, 108);
  --text-color: aliceblue;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100dvh;
  overflow: hidden;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--text-color);
  background-color: var(--background-color);
  margin: auto;
}

.cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5dvw;
}

.card {
  background-color: var(--secondary-color);
  border-radius: 12px;
  padding: 15px 15px;
  box-shadow: 0px 0px 20px rgba(70, 103, 140, 0.8);
  border: 5px solid var(--primary-color);
  text-align: center;
}

.card-content {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3dvw;
  margin: 0;
}

.card-content li {
  cursor: pointer;
  position: relative;
  margin-top: 10px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12dvw;
  height: 12dvw;
  margin: 0;
}

.not-selected {
  border: 2px solid black;
  padding: 3px;
  transition: 0.3s ease;
}

.selected {
  background-color: var(--primary-color);
  border: 5px solid var(--primary-color);
  transition: 0.3s ease;
  padding: 0px;
  box-shadow: 0px 0px 10px rgba(70, 103, 140, 0.8);
}

.brightness-slider {
  -webkit-appearance: none;
  width: 90%;
  height: 8px;
  background: var(--text-color);
  border-radius: 5px;
  outline: none;
  border-radius: 100px;
  border: 15px solid var(--secondary-color);
  box-shadow: 0px 0px 20px rgb(32, 50, 73);
}

.brightness-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background: var(--primary-color, #ffcc00);
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.card-icon {
  width: 8dvw;
  height: 8dvw;
}

.edit-btn {
  display: none;
  position: absolute;
  top: -1dvh;
  right: -1dvh;
  border: none;
  color: var(--text-color);
  background-color: var(--primary-color);
  border-radius: 50%;
  width: 7dvw;
  height: 7dvw;
}

.editable .edit-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.edit-btn-icon {
  height: 4dvw;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background: var(--background-color);
  padding: 25px;
  border-radius: 15px;
  text-align: center;
}

.modal-actions {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.modal-actions button {
  cursor: pointer;
  font-size: 1rem;
  color: var(--text-color);
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
}

.cancel-btn {
  background-color: #be0009;
}

.submit-btn {
  background-color: #0077be;
}

.custom-picker {
  width: 100%;
  max-width: 400px;
  margin: auto;
}

.modal-overlay {
  opacity: 1;
  transition: opacity 0.3s ease;
  backdrop-filter: blur(5px);
}

.modal-content {
  transform: scale(1);
  transition: transform 0.3s ease;
}

.modal-overlay.closing {
  opacity: 0;
}

.modal-overlay.closing .modal-content {
  transform: scale(0.9);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modal-overlay {
  animation: fadeIn 0.3s ease;
}
